.font-hello-sailor {
  font-family: "HelloSailor";
  font-weight: 700;
  font-size: 36px;
 }

 .font-her-song {
  font-family: "HerSong";
  font-weight: 700;
  font-size: large;
 }
 


.active {
  color: red;
}

.shadow {
  text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75);
}
