html,
body,
#app,
#app > div {
  height: 100%;
}

@font-face {
  font-family: "HelloSailor";
  src: local("HelloSailor"),
   url('./fonts/HelloSailorDemo-dJ2x.ttf') format("truetype");
  font-weight: 400;
  }
  
  @font-face {
    font-family: "HerSong";
    src: local("HerSong"),
     url('./fonts/HerSongDemo-ywZ7Y.ttf') format("truetype");
    font-weight: 400;
    }


body {
  margin: 0;
  font-family: 'Amatic SC', 'Corben', 'Permanent Marker', cursive,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NavLink styling */
a {
  text-decoration: none !important;
}

.active{
  color:red;
}