.active {
  color: red;
}

.shadow {
  text-shadow: 3px 3px 2px rgba(196, 69, 49, 0.85);
}

.shadow_sesame {
  text-shadow: 3px 3px 2px rgba(107, 126, 25, 0.85);
}

.shadow_bbq {
  text-shadow: 3px 3px 2px rgba(28, 106, 154, 0.85);
}

.slogan {
  text-shadow: 2px 2px 2px rgba(51, 51, 51, 100%);
}

/* .header {
  text-shadow: 1px 1px 2px rgba(220, 192, 152, 100%);
} */

.header {
  text-shadow: 3px 3px 3px rgba(51, 51, 51, 100%);
}

.footer {
  text-shadow: 2px 2px 2px rgba(51, 51, 51, 100%);
}

.description {
  text-shadow: 2px 2px 2px rgba(36, 36, 36, 0.85);
}

.shade_original {
  text-shadow: 2px 2px 2px rgba(196, 69, 49, 0.85);
}

.shade_sesame {
  text-shadow: 2px 2px 2px rgba(107, 126, 25, 0.85);
}

.shade_taco {
  text-shadow: 2px 2px 2px rgba(36, 36, 36, 0.85);
}

.shade_bbq {
  text-shadow: 2px 2px 2px rgba(28, 106, 154, 0.85);
}